/* 
wd-400.css
Doug Hoff
Last edited 8/9/2017 
*/

/* Font families from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500i,900');
@import url('https://fonts.googleapis.com/css?family=Aladin');

/* set the root element size, use rem units for all descendants */
/* change this size to affect all pages' elements */
html {
    font-size: 16px;
    height: 100%;
}

/*************************** Elements ***********************************/

body {
    font-size: 1.7rem;
    line-height: 2.2rem;
    font-family: 'roboto', sans-serif;
}
/* links */

a {
    font-weight: bold;
    text-decoration: none;
    color: orangered;
}
a:hover {
    color:orange;
    text-decoration: underline;
}

a:visited {
    color: grey;
}

/*************************** Classes ***********************************/
.roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

.aladin {
    font-family: 'Aladin', cursive;
    font-size: 1.2rem;
}

.bg-gradient {
    /* Permalink - use to edit and share this gradient: http: //colorzilla.com/gradient-editor/#b48dd6+0,7db9e8+100 */
    background: #b48dd6;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b48dd6 0%, #7db9e8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b48dd6 0%, #7db9e8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b48dd6 0%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b48dd6', endColorstr='#7db9e8', GradientType=0);
    /* IE6-9 */
}

/*************************** IDs ***********************************/
