<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Grid 7</title>
	<link rel="stylesheet" href="grid.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
	 crossorigin="anonymous"></script>
</head>

<body>
	<h1>
		<a href="grid.6.html">
			<i style='color:grey' class="far fa-arrow-alt-circle-left"></i>
		</a> CSS Grid 7
		<a href="grid.8.html">
			<i style='color:grey' class="far fa-arrow-alt-circle-right"></i>
		</a>
	</h1>

	<p>Grid with named areas - last area only shows without layout</p>
	<section class='grid no-layout'>
		<header class="header box">
			<h2>Header</h2>
		</header>
		<nav class="nav box">
			<h2>Nav</h2>
		</nav>
		<aside class="aside box">
			<h2>Aside</h2>
		</aside>
		<main class="main box">
			<h2>Main</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, qui ducimus fugiat aperiam magni dolor dolore, quaerat
				asperiores eveniet aliquam ratione quidem, eos odio. Temporibus molestiae, officia similique omnis aut. Lorem ipsum dolor,
				sit amet consectetur adipisicing elit. Quaerat quis magnam at velit cumque! Rem aliquid totam expedita reiciendis ipsam
				ipsa, eos, cum ab doloribus inventore est veritatis! Quis odit vel minima numquam, suscipit molestias earum ducimus.
				Minus incidunt repellendus molestias modi ullam ea numquam dolor omnis placeat, autem corporis deleniti nostrum sint
				vitae iste non, reprehenderit eius optio, odio consequuntur sit rem perferendis aliquam? Itaque ipsam consequuntur fugit
				dolore explicabo ut, blanditiis quibusdam et minus magnam. Unde repudiandae aliquam quo. Veritatis nemo, quae nihil error
				magni culpa, voluptatum adipisci maxime sed eaque, consectetur labore laboriosam amet reprehenderit ipsa molestias!
			</p>
		</main>
		<footer class="footer box">
			<h2>Footer</h2>
		</footer>
	</section>

	<p>Grid named areas, 2-col</p>
	<section class='grid named-2-col'>
		<header class="header box">
			<h2>Header</h2>
		</header>
		<nav class="nav box">
			<h2>Nav</h2>
		</nav>
		<aside class="aside box">
			<h2>Aside</h2>
		</aside>
		<main class="main box"> 
			<h2>Main</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, qui ducimus fugiat aperiam magni dolor dolore, quaerat
				asperiores eveniet aliquam ratione quidem, eos odio. Temporibus molestiae, officia similique omnis aut. Lorem ipsum dolor,
				sit amet consectetur adipisicing elit. Quaerat quis magnam at velit cumque! Rem aliquid totam expedita reiciendis ipsam
				ipsa, eos, cum ab doloribus inventore est veritatis! Quis odit vel minima numquam, suscipit molestias earum ducimus.
				Minus incidunt repellendus molestias modi ullam ea numquam dolor omnis placeat, autem corporis deleniti nostrum sint
				vitae iste non, reprehenderit eius optio, odio consequuntur sit rem perferendis aliquam? Itaque ipsam consequuntur fugit
				dolore explicabo ut, blanditiis quibusdam et minus magnam. Unde repudiandae aliquam quo. Veritatis nemo, quae nihil error
				magni culpa, voluptatum adipisci maxime sed eaque, consectetur labore laboriosam amet reprehenderit ipsa molestias!
			</p>
		</main>
		<footer class="footer box">
			<h2>Footer</h2>
		</footer>
	</section>

	<p>Grid named areas, 3-col</p>
	<section class='grid named-3-col'>
		<header class="header box">
			<h2>Header</h2>
		</header>
		<nav class="nav box">
			<h2>Nav</h2>
		</nav>
		<aside class="aside box">
			<h2>Aside</h2>
		</aside>
		<main class="main box">
			<h2>Main</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, qui ducimus fugiat aperiam magni dolor dolore, quaerat
				asperiores eveniet aliquam ratione quidem, eos odio. Temporibus molestiae, officia similique omnis aut. Lorem ipsum dolor,
				sit amet consectetur adipisicing elit. Quaerat quis magnam at velit cumque! Rem aliquid totam expedita reiciendis ipsam
				ipsa, eos, cum ab doloribus inventore est veritatis! Quis odit vel minima numquam, suscipit molestias earum ducimus.
				Minus incidunt repellendus molestias modi ullam ea numquam dolor omnis placeat, autem corporis deleniti nostrum sint
				vitae iste non, reprehenderit eius optio, odio consequuntur sit rem perferendis aliquam? Itaque ipsam consequuntur fugit
				dolore explicabo ut, blanditiis quibusdam et minus magnam. Unde repudiandae aliquam quo. Veritatis nemo, quae nihil error
				magni culpa, voluptatum adipisci maxime sed eaque, consectetur labore laboriosam amet reprehenderit ipsa molestias!
			</p>
		</main>
		<footer class="footer box">
			<h2>Footer</h2>
		</footer>
	</section>

	<p>Grid named areas, 3-col with minimum & maximum sizing, 2nd row 6x 1st row/3rd row</p>
	<section id='minmax' class='grid named-3-col-minmax'>
		<header class="header box">
			<h2>Header</h2>
			<data></data>
		</header>
		<nav class="nav box">
			<h2>Nav</h2>
			<data></data>
		</nav>
		<aside class="aside box">
			<h2>Aside</h2>
			<data></data>
		</aside>
		<main class="main box">
			<h2>Main</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, qui ducimus fugiat aperiam magni dolor dolore, quaerat
				asperiores eveniet aliquam ratione quidem, eos odio. Temporibus molestiae, officia similique omnis aut. Lorem ipsum dolor,
				sit amet consectetur adipisicing elit. Quaerat quis magnam at velit cumque! Rem aliquid totam expedita reiciendis ipsam
				ipsa, eos, cum ab doloribus inventore est veritatis! Quis odit vel minima numquam, suscipit molestias earum ducimus.
				Minus incidunt repellendus molestias modi ullam ea numquam dolor omnis placeat, autem corporis deleniti nostrum sint
				vitae iste non, reprehenderit eius optio, odio consequuntur sit rem perferendis aliquam? Itaque ipsam consequuntur fugit
				dolore explicabo ut, blanditiis quibusdam et minus magnam. Unde repudiandae aliquam quo. Veritatis nemo, quae nihil error
				magni culpa, voluptatum adipisci maxime sed eaque, consectetur labore laboriosam amet reprehenderit ipsa molestias!
			</p>
		</main>
		<footer class="footer box">
			<h2>Footer</h2>
		</footer>
	</section>
</body>
<script>
	window.addEventListener("resize", showWidths);
	window.addEventListener("load", showWidths);

	function showWidths() {
		var sectionWidth = document.querySelector('#minmax').clientWidth;
		var headerData = document.querySelector('#minmax header.box data');
		var headerWidth = headerData.parentElement.clientWidth;
		headerData.innerHTML = 'Width:<br/>' + headerWidth + 'px';
		headerData.innerHTML += '<br/>' + Math.round(headerWidth/sectionWidth * 100) + '%';
		var navData = document.querySelector('#minmax nav.box data');
		var navWidth = navData.parentElement.clientWidth;
		navData.innerHTML = 'Width:<br/>' + navWidth + 'px';
		navData.innerHTML += '<br/>' + Math.round(navWidth/sectionWidth * 100) + '%';
		var asideData = document.querySelector('#minmax aside.box data');
		var asideWidth = asideData.parentElement.clientWidth;
		asideData.innerHTML = 'Width:<br/>' + asideWidth + 'px';
		asideData.innerHTML += '<br/>' + Math.round(asideWidth/sectionWidth * 100) + '%';
	}
</script>

</html>