<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Grid 6</title>
	<link rel="stylesheet" href="grid.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
	    crossorigin="anonymous"></script>
</head>

<body>
	<h1>
		<a href="grid.5.html">
			<i style='color:grey' class="far fa-arrow-alt-circle-left"></i>
		</a> CSS Grid 6
		<a href="grid.7.html">
			<i style='color:grey' class="far fa-arrow-alt-circle-right"></i>
		</a>
	</h1>

	<p>Grid with repeat() & calc():</p>
	<section class="grid col-4-repeat-calc">
		<div class="box big-salmon">
			<h2>Block</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi explicabo debitis libero ab placeat soluta ullam unde,
				officiis, saepe, veniam recusandae natus aliquam sit deleniti cupiditate eius quos nihil tempora!</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
	</section>

	<p>Grid with even fractional units:
	</p>
	<section class="grid col-4-fr">
		<div class="box big-salmon">
			<h2>Block</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi explicabo debitis libero ab placeat soluta ullam unde,
				officiis, saepe, veniam recusandae natus aliquam sit deleniti cupiditate eius quos nihil tempora!</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
	</section>

	<p>Grid with uneven fractional units:
	</p>
	<section class="grid col-4-fr-middle-heavy">
		<div class="box big-salmon">
			<h2>Block</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi explicabo debitis libero ab placeat soluta ullam unde,
				officiis, saepe, veniam recusandae natus aliquam sit deleniti cupiditate eius quos nihil tempora!</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
	</section>

	<p>Grid with uneven fractional units using percent:
	</p>
	<section class="grid col-4-fr-percent">
		<div class="box big-salmon">
			<h2>Block</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi explicabo debitis libero ab placeat soluta ullam unde,
				officiis, saepe, veniam recusandae natus aliquam sit deleniti cupiditate eius quos nihil tempora!</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
	</section>

	<p>Grid with uneven fractional units using pixels:
	</p>
	<section class="grid col-4-fr-px">
		<div class="box big-salmon">
			<h2>Block</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi explicabo debitis libero ab placeat soluta ullam unde,
				officiis, saepe, veniam recusandae natus aliquam sit deleniti cupiditate eius quos nihil tempora!</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
	</section>

	<p>Grid with uneven fractional units using rems:
	</p>
	<section class="grid col-4-fr-rem">
		<div class="box big-salmon">
			<h2>Block</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi explicabo debitis libero ab placeat soluta ullam unde,
				officiis, saepe, veniam recusandae natus aliquam sit deleniti cupiditate eius quos nihil tempora!</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
	</section>
</body>

</html>