<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Grid 5</title>
	<link rel="stylesheet" href="grid.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
	    crossorigin="anonymous"></script>
</head>

<body>
	<h1>
		<a href="grid.4.html">
			<i style='color:grey' class="far fa-arrow-alt-circle-left"></i>
		</a> CSS Grid 5
		<a href="grid.6.html">
			<i style='color:grey' class="far fa-arrow-alt-circle-right"></i>
		</a>
	</h1>

	<p>Grid:</p>
	<section class="grid">
		<div class="box big-salmon">
			<h2>Block</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi explicabo debitis libero ab placeat soluta ullam unde,
				officiis, saepe, veniam recusandae natus aliquam sit deleniti cupiditate eius quos nihil tempora!</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
	</section>

	<p>Grid with 4 even columns using repeat():
	</p>
	<section class="grid col-4-repeat">
		<div class="box big-salmon">
			<h2>Block</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi explicabo debitis libero ab placeat soluta ullam unde,
				officiis, saepe, veniam recusandae natus aliquam sit deleniti cupiditate eius quos nihil tempora!</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
	</section>

	<p>Grid with 4 even columns using repeat() and column names:
	</p>
	<section class="grid col-4-repeat-named">
		<div class="box big-salmon col-4-position-2-named">
			<h2>Block</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi explicabo debitis libero ab placeat soluta ullam unde,
				officiis, saepe, veniam recusandae natus aliquam sit deleniti cupiditate eius quos nihil tempora!</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
		<div class="box">
			<h2>Block</h2>
			<p>Aliquam soluta culpa officia possimus accusamus nostrum quia est fugiat deleniti id necessitatibus perferendis ipsam cupiditate
				itaque iusto, vel saepe voluptatibus labore molestias? A, sapiente quis eligendi nulla quos quia.
			</p>
		</div>
	</section>

</body>

</html>