<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floats</title>

    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
    <link rel="stylesheet" href="css/wd-400.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        .float-right {
            float: right;
            clear: both;
            margin-left: .5rem;
        }
        
        .float-left {
            float: left;
            clear: both;
            margin-right: .5rem;
        }
        
        img {
            max-width: 300px;
        }
    </style>
</head>

<body>
    <a href="index.html" class=float-right>
        <i class="fa fa-home fa-2x" style='color:red'></i>
    </a>
    <h1>Floats</h1>
    <img src="images/grumpy-cat.jpg" alt="grumpy cat" class='float-right'>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium aspernatur nihil accusantium, nulla nam pariatur
        repudiandae hic, vel, qui doloremque incidunt facere asperiores perferendis possimus et, nostrum! At, assumenda,
        tempore.</p>
    <img src="images/grumpy-cat.jpg" alt="grumpy cat" class='float-left'>
    <p>Itaque dolorem, delectus mollitia quisquam deserunt, laudantium alias sit repellat temporibus magnam explicabo, quis,
        accusantium nesciunt cumque et adipisci aliquid corporis quae eveniet vero placeat ullam. Ea quam, sunt laboriosam!</p>
    <p>Tempora molestiae at reiciendis veritatis enim fugit quibusdam harum sed ullam repellendus maxime necessitatibus sit
        dolorem distinctio alias odio quisquam debitis, nisi animi qui hic, quasi minus illum praesentium? Tempore.</p>
    <p>Et, sunt. Explicabo, numquam. Architecto optio aliquam eos fuga quam ipsam, rem perspiciatis voluptatibus libero. Ipsa
        at numquam temporibus, tenetur quo expedita doloribus praesentium quos blanditiis, porro asperiores sapiente fugit?</p>
    <p>Corporis molestiae, vero? Eos, minima! Dolore deleniti ratione veritatis dolorem necessitatibus ea deserunt iusto quod,
        alias corporis illo. Consequuntur eius, culpa! Maiores quos, aspernatur repellendus, repudiandae dignissimos quo
        ab tempore.</p>
    <p>Dolor quo quod assumenda, facere nesciunt qui inventore eveniet nulla aperiam. Numquam totam voluptatibus quaerat, maxime
        error, illum excepturi vero dolorum dolor iste quod reiciendis non ipsa provident voluptate aspernatur!</p>
    <p>Recusandae quod, cum est hic soluta dolores quo cumque, sunt maxime aliquid repellat. Dolores impedit odio veritatis
        quam ab sed dolor libero possimus blanditiis distinctio laudantium, error quod quasi, esse.</p>
    <p>Corporis enim, eum aliquid rem dolor aspernatur pariatur rerum omnis accusantium vitae ab magnam nulla nobis voluptatibus
        beatae, totam assumenda id, et, eligendi repellat. Dolore veritatis aut porro, debitis sint!</p>
    <p>Dignissimos optio facilis commodi illo voluptate! Dicta repudiandae, facilis ad tempora accusamus, nulla quod nisi incidunt,
        explicabo porro nesciunt? Suscipit a deserunt officiis rem, voluptates, illum laborum excepturi quisquam ab!</p>
    <p>Consectetur porro sunt numquam ipsum placeat vero ea ratione minima, vitae id enim, hic nihil! Maxime illum at beatae,
        molestias libero quibusdam dolore sint unde, sunt, magnam necessitatibus atque consequuntur!</p>
    <p>Omnis cupiditate incidunt accusantium dolore, illo illum vitae sit tempora officia repellendus nesciunt tempore dolorem
        nulla aut quisquam ea cumque magni dolores voluptas amet voluptatibus, temporibus debitis eaque repellat. Eveniet.</p>
    <p>Veniam possimus fugiat, hic repellendus optio odit officiis perspiciatis adipisci voluptates ratione deleniti recusandae
        praesentium, nemo delectus. Ut accusamus laborum, doloribus voluptatibus, corporis nam recusandae reiciendis rem,
        fugiat eos pariatur.</p>
    <p>Nulla ullam hic voluptatibus mollitia veniam nihil amet laudantium tempora officia neque repudiandae sed inventore, quaerat,
        iste officiis, corporis debitis quam excepturi sint modi. Impedit quae est rerum quaerat non.</p>
    <p>Et vel molestias, assumenda amet, magnam, impedit quaerat ad eveniet repellendus expedita laudantium? Corporis dignissimos
        eum facilis. Suscipit est possimus reprehenderit veritatis, nemo error numquam consequuntur, inventore, nam quam
        esse?</p>
    <p>Suscipit architecto nemo est, aliquid dicta illo enim? Modi fugit at quae odit minima nihil asperiores quisquam quos
        quas, aliquid est accusantium, itaque recusandae, porro labore qui dolorum illo ut?</p>
    <p>Unde repellendus suscipit inventore ex, voluptatibus dolores maxime magnam repellat enim beatae modi adipisci obcaecati,
        consequatur perspiciatis veritatis provident quia eius dolor, odio saepe. Veniam quaerat exercitationem eius fuga
        quas.</p>
    <p>Aspernatur iusto quasi architecto saepe in iure ipsum distinctio omnis tenetur quis sint aperiam, est optio adipisci
        numquam id, odit illo fuga placeat maxime impedit. Error quod architecto, ipsa cumque.</p>
    <p>Dolorem beatae harum maiores iste ab sed sit sequi repellat eaque, impedit minus laboriosam fugiat ea. Quia deserunt
        quam impedit reprehenderit nam, quidem numquam ullam voluptatibus. Nam, aspernatur cupiditate doloribus.</p>
    <p>Provident, dolor, numquam! Voluptates explicabo illo tempora obcaecati harum in, iste doloremque quod maiores asperiores
        mollitia dolor eos, nemo totam. Laborum ipsa commodi autem architecto quam velit, fugiat eum illo!</p>
    <p>Impedit quidem enim, dolorum deserunt esse, nostrum rerum, eum accusamus eaque, nesciunt quos commodi quasi quas sunt
        labore. Excepturi, sed autem sit sapiente blanditiis unde doloremque quidem quas et architecto.</p>
</body>

</html>