<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position</title>
    
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
    <link rel="stylesheet" href="css/wd-400.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
 div {
            border: 1px solid grey;
            position: static;
            /* positions to try: static, relative, absolute, fixed (scroll window to see)  */
            /* opacity: .5;*/
            /* use opacity when images overlap to see through to the next layer */
        }
    </style>
</head>
<body>
    <h1>Position</h1>
    <a href="index.html">
        <i class="fa fa-home fa-2x" style='color:red'></i>
    </a>
    <div style='z-index:5'>
        <img width='200px' 
        src="http://kbyte.snowpenguin.org/eventi/codeweek2015/presentazione/img/soccer-ball-clip-art-9c4enbocE.png" alt="">
    </div>
    <div style='left: 100px; z-index:1'>
        <img width='300px' 
        src="http://kbyte.snowpenguin.org/eventi/codeweek2015/presentazione/img/soccer-ball-clip-art-9c4enbocE.png" alt="">
    </div>
    <p style='position:relative; z-index:10'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima provident veritatis odit expedita quisquam, odio deleniti pariatur aliquid necessitatibus doloremque dolor harum facere. Qui quas maiores quaerat dignissimos amet culpa.
    </p>
</body>

</html>