<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>TV Schedule</title>
</head>

<body>
    <h1>TV Schedule</h1>
    <a href="index.html">
        <i class="fa fa-home fa-2x" style='color:red'></i>
    </a>
    <table>
        <thead>
            <tr>
                <th class='all-caps bg-orange'>Wednesday</th>
                <th>8pm</th>
                <th>8:30pm</th>
                <th>9pm</th>
                <th>9:30pm</th>
                <th>10pm</th>
                <th>10:30pm</th>
            </tr>
        </thead>
        <tr>
            <td>ABC image</td>
            <td>The Middle</td>
            <td>Better With You</td>
            <td>Modern Family</td>
            <td>Cougar Town</td>
            <td colspan="2">The Whole Truth</td>
        </tr>
        <tr>
            <td>CBS image</td>
            <td colspan="2">Survivor: Nicaragua</td>
            <td colspan="2">Criminal Minds</td>
            <td colspan="2">The Defenders</td>
        </tr>
        <tr>
            <td>CW image</td>
            <td colspan="2">America's Next Top Model</td>
            <td colspan="2">Hellcats</td>
            <td colspan="2">Local</td>
        </tr>
        <tr>
            <td>FOX image</td>
            <td colspan="4">Hell's Kitchen</td>
            <td colspan="2">Local</td>
        </tr>
    </table>
</body>

</html>