<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table examples</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        th,
        td {
            padding: 15px;
        }
        th {
            font-size: 200%;
        }
        tbody td:hover {
            background-color: lightgoldenrodyellow;
        }
    </style>
</head>

<body>
    <h1>Table examples</h1>
    <a href="index.html">
        <i class="fa fa-home fa-2x" style='color:red'></i>
    </a>

    <h2>1 x 1 table</h2>
    <table>
        <tr>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                beatae.
            </td>
        </tr>
    </table>

    <h2>2 x 2 table</h2>
    <table>
        <tr>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                beatae.
            </td>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                beatae.
            </td>
        </tr>
        <tr>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                beatae.
            </td>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                beatae.
            </td>
        </tr>
    </table>

    <h2>4 x 4 table with thead and colspan, tbody, tfoot</h2>
    <table>
        <thead>
            <tr>
                <th colspan="4">
                    Lorem ipsum dolor sit.
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                    consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                    beatae.
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                    consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                    beatae.
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                    consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                    beatae.
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                    consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                    beatae.
                </td>
            </tr>
            <tr>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                    consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                    beatae.
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                    consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                    beatae.
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                    consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                    beatae.
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                    consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                    beatae.
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                    consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                    beatae.
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                    consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                    beatae.
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                    consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                    beatae.
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora sed, cum, error recusandae laudantium! Quod assumenda
                    consectetur reiciendis, illum laborum vero praesentium nostrum rem magnam repudiandae, nesciunt inventore,
                    beatae.
                </td>
            </tr>
        </tfoot>
    </table>

</body>

</html>